<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <strong>Exemplo API - ASP Net Core 3.0</strong>
    <br />
    <p>
        Trata-se de uma API que usa REGEX para recuperar informações de uma pagina,<br />
        no caso deste exemplo: <a href=https://nerdologiaheroespowers.fandom.com/pt-br/wiki /><i>nerdologiaheroespowers.fandom.com/pt-br/wiki</i></a><br />
        é possível retornar atráves de uma API infinidades de tipos de arquivos, de mais comuns como xml e json,</br>
        ou arquivos como html, por exemplo este que você esta visualizando.
    </p>
    <br />
    <strong>Exemplos:</strong>
    <p>
        Retornando Json: <a href="https://localhost:44374/Api/HQ/wolverine"> <i>localhost:Porta/Api/Hq/NomeDoPersonagemMarvel</i></a><br /><br />
        Retornando PDF:  <a href="https://localhost:44374/Api/HQ/pdf/wolverine"><i>  localhost:Porta/Api/Hq/pdf/NomeDoPersonagemMarvel</a></i>
    </p>
    <br /><strong>Autor:</strong> Renato Estecio
    <br /><strong>Contato:</strong>  <i> renato.estecio@gmail.com</i>
</body>
</html>